# Latest Release
broker

# OSX
.DS_Store

# app specific
id_rsa
id_rsa.pub
id_rsa.revocationCertificate

# vim
*.swp
*.swo

# node
node_modules/

# application-specific
data/
state.json
user.json
broker.json
